*{
  margin: 0;
  padding: 0;
}

.btn-up{
  margin: 0 8px;
}

.navbar-brand{
  margin-left: 5%;
}

.container{
  width: 100%;
  height: 60vh;

}

.main{
  margin: 0 auto;
}

.content{
  height: 30vh;
  border: solid 1px;
  border-radius: 30px;

}
